.container {
    height: 100%;
    display: grid;
    grid-template-rows: 120px 9fr;
    margin-bottom: 50px;

    .filters {
        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;
        left: 0;
        background-color: #FFFF;
        z-index: 999;
        .toggle_container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 40px;
            position: relative;
            // left: 13px;
            margin: 10px 20px;
        }

        .input_container {
            margin-top: 15px;
            width: 100%;
        }
    }

    .itemlist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        height: 100%;
        overflow: scroll;
    }
}

@media(max-width:900px) {
    .container {
        .filters {}

        .itemlist {
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media(max-width:675px) {
    .container {
        .filters {}

        .itemlist {
            gap: 10px;

            grid-template-columns: repeat(1, 1fr);

        }
    }
}