.container{
    width: 90vw;

    .detailsContainer{
        font-size: 12px;
        display: flex;
        gap: 10px;
        .key{

        }
        .value{
            
        }
        .section_heading{
            font-weight: 500;
        }
        .row_1{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            .col_1{

            }
            .col_2{
                
            }
        }
        .row_2{
            .products_container{
                .product_container{
                    display: grid;
                    gap: 5px;
                    grid-template-columns: 20px 40px 100px 50px 40px;
                }
            }
        }
    }
}