.container{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #f1ede6;
    display: flex;
    justify-content: center;
    align-items: center;
}