.container{
    // outline: 1px solid red;
    padding: 10px;
    min-width: 296px;
    min-height:334px;
    max-width: 296px;
    max-height:334px;
    overflow: hidden;
    border-radius: 5px;
    .section{
        position: relative;
        .product_image_container{
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Make the image completely fill the container */
            }
            .product_image{
                width: 100%;
                height: 206px;
                border-radius: 5px;
                transition: transform 0.8s;
            }
            .product_image:hover{
                transform: scale(1.25);
            }
        }
        .btn_container{
            position: absolute;
            bottom: -13px;
            left: 32%;
        }
    }
    
    
    .product_info{
        height: 100%;
        width: 100%;
        margin-top: 20px;
        .info_header{
            display: flex;
            justify-content: space-between;
            .ratings_container{
                .rating_star{
                    height: 16px;
                    width: 16px;
                    margin-right: 5px;
                }
            }
            .p_conatiner{

            }
        }
        .product_heading{
            margin-top: 15px;
            font-size: 18px;
            font-weight: 600;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
        }
        .product_subheading{
            margin-top: 5px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(40,44,63,.45);
        }
    }
}

.container:hover{
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
}   
@media(max-width:364px){
    .container{
        width: 100%;
        height: 360px;
        .product_image_container{
            .product_image{
                height: 220px;
            }
        }
    }        
}

.price_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 112px;
    position: absolute;
    right:-5px;
    .price_value{
        font-size: 14px;
        font-weight: 600;
    }
    .price_category{
        font-size: 12px;
        font-weight: 400;
        color: rgba(40,44,63,.45);
        position: relative;
        top: -5px;
    }
}

.veg_non_veg_container{
    border-radius:3px;
    height:20px;
    width:20px;
    display:flex;
    align-items:center;
    justify-content:center;

    .marker{
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }
}

.add_button_container{
    width: 96px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 5px;
    color: green;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    border: 1px solid green;
    cursor: pointer;
}

.add_button_container:hover{
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
}