.container{
    min-height: 100vh;
    margin-bottom: 50px;
    padding: 80px 5px;
    background-color: #f0f0f5;
    .heading{
        font-size: 14px;
        font-weight: 700;
        padding: 0 10px;
    }
    .section{
        min-height: 125px;
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 8px 16px rgba(27, 30, 36, .06), 0 0 8px rgba(27, 30, 36, .04);
        overflow: hidden;
        width: 95%;
        margin: 12px 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        .input_container{
            display: flex;
            gap: 5px;
            margin: 5px 0;
            button{
                display: flex;
                justify-content: center;
                width: 70px;
                height: 30px;
            }
        }
        .profile_image{
            border-radius: 50%;
            margin-bottom: 5px;
        }

        .name{
            font-size: 14px;
            font-weight: 700;
        }

        .email{
            font-size: 12px;
            color: gray;
        }

        .phone{
            display: flex;
            gap: 5px;
            font-size: 12px;
            color: rgb(195, 129, 31);
            border: 1px solid rgb(195, 129, 31);
            padding: 5px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }
    }
}