
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // width: 90px;
    // height: 40px;
    border: 1px solid #ddd;
    border-radius: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.switch_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

input[type="checkbox"].switch {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ddd;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
    width: 36px;
    height: 12px;
    border-radius: 999px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 82% 51%;
    background-size: 6.93px 5.31px;
}

input[type="checkbox"].switch:disabled {
    cursor: not-allowed !important;
}

input[type="checkbox"].switch:checked:after {
    left: calc(100% - 30px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 45% 51%;
    width: 60px;
    height: 70px;
    transform: scale(0.8);
}

input[type=checkbox].switch:after {
    position: absolute;
    content: "";
    background: transparent;
    background-image: url("../assets/assam_symbol.png");
    background-size: cover;
    transform: scale(0.7);
    left: -35px;
    top: -30px;
    transition: all 0.2s ease-in-out;
    width: 60px;
    height: 70px;
}